{% extends 'base.html.twig' %}


{% block title 'Tous nos biens' %}

{% block body %}
    <div class="container">
        <h1> Voir tous nos bien </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eos expedita laborum nobis quia voluptates. Amet assumenda atque, aut autem deleniti distinctio dolores eos harum impedit labore rerum tenetur velit?</p>
    </div>
{% endblock %}