{% extends 'base.html.twig' %}
{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container mt-4">
        <h2>Editer un utilisateur</h2>
        {{  include('admin/users/_form.html.twig', { form: form, button: 'Editer', edit:true}) }}
    </div>
{% endblock %}


