{% extends 'base.html.twig' %}


{% block title "Admin menu" %}

{% block body %}
    <div class="container mt-4 mb-4" style="height: 50vh;">
        <h1>Administration</h1>

        <div class="row">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('admin.users.index') }}" class="btn btn-primary btn-lg btn-block">Gestion des utilisateurs</a>
            {% endif %}
            <a href="{{ path('admin.property.index') }}" class="btn btn-primary btn-lg btn-block">Gestion des biens immobiliers</a>
            <a href="{{ path('admin.option.index') }}" class="btn btn-primary btn-lg btn-block">Gestion des options</a>
        </div>


    </div>





{% endblock %}