body {
}

.image-slider{
    object-fit: contain;
    height: 400px;
    width: 100%;
}

/*home controller*/
#formSearchHome{
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-end;
    margin: 0 100px 0 100px;
    padding-right: 10px;
}

#formSearchHome form {

    background: rgba(245, 245, 245, 0.44);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#setbg {
    background-image: url('/images/bg.jpg');
}

.wi100 > .form-group span, .wi100 > .form-group input{
    width: 100%!important;
}
.select2-selection{
    height: 45px!important;
}